# Getting Started

This notebook is pre-configured with connections to your lab databases.

## Database Connections

| Database | Host | Port | Database | User | Password |
|----------|------|------|----------|------|----------|
| Source | `source-db` | `5432` | `source_db` | `labuser` | `labpass` |
| Target | `target-db` | `5432` | `target_db` | `labuser` | `labpass` |

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Connection strings
source_engine = create_engine('postgresql://labuser:labpass@source-db:5432/source_db')
target_engine = create_engine('postgresql://labuser:labpass@target-db:5432/target_db')

print('Engines created successfully!')

In [ ]:
# Quick test: list tables in source database
source_tables = pd.read_sql_query(
    "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'",
    source_engine
)
print('Source tables:')
source_tables

In [ ]:
# Quick test: list tables in target database
target_tables = pd.read_sql_query(
    "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'",
    target_engine
)
print('Target tables:')
target_tables

## Your Work Starts Here

Read the lab instructions panel for the full scenario and steps.

Add your ETL code in the cells below.

In [ ]:
# Step 1: Extract source data
# Example: df = pd.read_sql_table('table_name', source_engine)

In [ ]:
# Step 2: Transform

In [ ]:
# Step 3: Load into target
# Example: df.to_sql('table_name', target_engine, if_exists='append', index=False)